<h1>Hello <%=@client.name%></h1><h1>Email: <%=@client.email%></h1>
<br/>
<h2>Here are Your Account Summaries:</h2>
<ul>
  <%current_client.accounts.each do |t|%>
  <h3><%=t.name%></h3>
  <p><%=t.balance%></p>
  <%end%>
</ul>

<br/>
<br/>
<a href="/transactions/new">Make a Deposit or Withdrawl</a>
<br/>
<a href="/accounts/new">Create an Additional Account</a>
<br/>
<a href="/accounts/transfer">Transfer Between Accounts</a>
<br/>
<a href="/clients/<%=@client.id%>/edit">Edit Your Contact Email</a>
