<h1>Transaction History</h1>
<h3>

<h2>Transaction Date: <%=@account.transactions.date %> </h2>
<h3>Amount: <%=@account.transactions.amount%></h3>
<h3>Description: <%=@account.transactions.description%></h3>
<h3>Balance: <%=@account.transactions.account_balance%></h3>


<%transactions.each do |t|%>
<li><%=t.date%></li>
<li><%=t.amount%></li>
<li><%=t.description%></li>
</h3>
<a href="/transactions/edit">Make a Deposit or Withdrawl</a>
